body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    text-align: center;
}

main {
    padding: 50px 20px;
}

h1 {
    text-shadow: 3px 3px 5px gray;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;

    transition: all 0.3s ease;
}

.shadow1 {
    box-shadow: 5px 5px 10px gray;
}

.shadow2 {
    box-shadow: 0 0 15px gray;
}

.shadow3 {
    box-shadow: 0 10px 20px gray;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px gray;
}